
html, body {
    overflow-x: hidden;
}
body{
  min-height: 100vh;           
  display: flex;
  flex-direction: column;      
  background-color: var(--cor03);
  padding-top: var(--header-h); 
  padding-left: var(--sidebar-w); 
}
h1 img {
    width: 30px;
    padding: 0px;
    padding-bottom: 0px;
}
main{
    display:flex;
    flex: 1;                  
    background-color: var(--cor03);
    padding: 15% 10% 10% 10%;
    border: 0;
}
main h1{
    margin: 0px;
    padding: 0px;
    border: 0px;
}
.container {
    max-width: 500px;
    width: 75%;  
    margin: auto;
    background-color: transparent;
    border: 4px solid rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    color: rgb(0, 0, 0);
    padding: 30px 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
}
.container h1 {
    font-size: 36px;
    text-align: center;
}
.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 50px 0;
}
.input-box input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    outline: none;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 40px;
    font-size: 16px;
    color: rgb(0, 0, 0);
    padding: 4px 0px 0px 10px;
}
.input-box input::placeholder {
    color: #5e5e5e;
}
.input-box i {
    position: absolute;
    right: 20px;
    font-size: 20px;
    top: 50%;
    transform: translateY(-50%);
}
.remember-forgot {
    display: flex;
    justify-content: space-between;
    margin: -15px 0 15px;

}
.remember-forgot label input {
    accent-color: #000000;
    margin-right: 5px;
}
.remember-forgot a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.remember-forgot a:hover {
    text-decoration: underline;
}
.login{
    width: 100%;
    height: 50px;
    background-color: var(--cor01);
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: white;
    font-weight: 600px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    margin-top: 20px;
}
.login:hover{
    background-color: transparent;
    border: 2px solid rgb(255, 255, 255);
    transition: 0.5s;
}
.register{
    font-size: 14px;
    text-align: center;
    margin: 20px 0 15px;
}
.register a{
    text-decoration: none;
    color: #000000;
    font-weight: 600;
}
.register a:hover{
    text-decoration: underline;
}
